h1 {
    height: 50px;
}

table,table tr td {text-align: left; border-collapse: collapse;}

table {width: 80%;border: 2px solid  lightslategrey;}

/* padding means the dis from 4 directions, can also set padding right... */
tr td {padding: 10px;}

/* caption means the title in a table, only 1 */
caption {text-align: center;
color:  lightslategrey;
font-size: 20px;
}


#tr1 {font-weight: bold;
background-color:  lightslategrey;
color: white;}